.cannonBody {
  transform-origin: center;
  transform-box: fill-box;
}
.canvas {
  position: absolute;
  left: 17%;
  bottom: 17%;
}
.mathLive {
  width: 50%;
  position: absolute;
  left: 20%;
  bottom: 2%;
}
.playButton {
  position: absolute;
  bottom: 1%;
  right: 2%;
  z-index: 100;
}
