.cannonBody {
  transform-origin: center;
  transform-box: fill-box;
}

.canvas {
  position: absolute;
  left: 17%;
  bottom: 17%;
}

.functionText {
  display: inline-block;
  position: absolute;
  top: 1%;
  right: 2%;
  text-align: center;
  z-index: 100;
}

.userInputA {
  position: absolute;
  bottom: 1%;
  right: 50%;
  width: 20%;
  max-width: 20%;
  max-height: 17%;
}

.userInputC {
  position: absolute;
  bottom: 1%;
  right: 25%;
  width: 20%;
  max-width: 20%;
  max-height: 17%;
}

.playButton {
  position: absolute;
  bottom: 1%;
  right: 2%;
  z-index: 100;
}
