.table code {
  background-color: var(--ion-background-color);
}

.table {
  border-radius: 8px;
  border-collapse: separate;
  color: var(--ion-text-color);
  white-space: pre-wrap;
}
.table h4 {
  margin: 0;
  text-align: left;
}

.table th {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}
.table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

.left {
  width: 20%;
}

.right {
  width: 80%;
}
