.container {
  background: rgba(var(--ion-color-primary-rgb), 0.2);
  border-left: 12px solid rgba(var(--ion-color-primary-rgb), 0.6);
}

.container code {
  background: rgba(var(--ion-color-primary-rgb), 0.4);
}
