.grid {
  --ion-grid-padding: 0;
}

.link {
  text-decoration: none;
  height: 100%;
  --background: transparent;
  --background-hover: transparent;
}

.link::part(native) {
  height: 100%;
  padding: 0;
  --inner-padding-end: 0;
}

.card {
  height: 100%;
  margin-bottom: 0;
  padding: 0;
}

.descriptionArea,
.image,
.openIcon {
  transition: opacity 0.25s ease-in-out;
}

.card:hover .descriptionArea,
.card:hover .image,
.card:hover .openIcon {
  opacity: 0.5;
}

.cardHeader {
  padding: 0;
}

.image {
  background-size: cover;
  cursor: pointer;
}

.descriptionArea {
  height: 100%;
  width: 100%;
}

.previewArea {
  border-bottom: 1px solid var(--border-color);
  height: 300px;
  width: 100%;
}

.previewElement {
  display: flex;
  justify-content: center;
  align-items: center;
}

.openIcon {
  opacity: 0;
  position: absolute;
  right: 10px;
}

.title {
  color: var(--ion-text-color);
  padding: 1rem;
}

.teaserText {
  color: var(--ion-text-color);
}
