.bright {
  filter: brightness(130%);
}

.color-fg {
  color: var(--ion-text-color);
}

.bg-cover-blur::part(background) {
  background-size: cover !important;
  filter: blur(1px);
}

.glass-bg {
  /* Glass background with border */
  backdrop-filter: blur(5px) saturate(191%);
  -webkit-backdrop-filter: blur(5px) saturate(191%);
  background-color: var(--color-glass);
  border: var(--border-glass);
}

.theme-border {
  border: 1px solid var(--border-color);
}

.theme-bg {
  background-color: var(--ion-background-color);
}

.theme-item-bg {
  background-color: var(--ion-item-background);
}

.theme-shadow {
  box-shadow: var(--shadow);
}

.card-shadow {
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.box-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.tippy {
  background-color: var(--ion-item-background);
  border: 1px solid var(--border-color);
  color: var(--ion-text-color);
  padding: 0.5rem;
  border-radius: 0.3rem;
}

@-webkit-keyframes swinging {
  0% {
    -webkit-transform: rotate(-5deg) translateX(-10px);
  }
  50% {
    -webkit-transform: rotate(10deg) translateX(10px);
  }
  100% {
    -webkit-transform: rotate(-5deg) translateX(-10px);
  }
}

@keyframes swinging {
  0% {
    transform: rotate(-5deg) translateX(-10px);
  }
  50% {
    transform: rotate(10deg) translateX(10px);
  }
  100% {
    transform: rotate(-5deg) translateX(-10px);
  }
}

.swingimage {
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 3.5s ease-in-out forwards infinite;
}
