.container {
  transition: opacity 0.15s ease-in;
}
.container code {
  background-color: transparent;
}

.dollarSign {
  color: var(--ion-color-primary);
}

.copyButton {
  transition: opacity 0.1s ease-in-out;
  width: 2rem;
  height: 2rem;
  color: var(--ion-text-color);
  opacity: 0;
}

.container:hover > .copyButton {
  opacity: 1;
}

.container:active {
  opacity: 0.5;
}
