.container code {
  line-height: 1rem;
}

.ULWrapper {
  list-style: none;
}

.ULIcon {
  min-width: 1rem;
  width: 1rem;
  height: 1rem;
}

.OLNumberLabel {
  color: var(--ion-text-color);
  background: rgba(var(--ion-color-primary-rgb), 0.2);
  border: 1px solid rgba(var(--ion-color-primary-rgb), 0.6);
  border-radius: 100%;
  font-size: 0.8rem;
  min-width: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
