.position {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 100px);
}

.bgRedBlue {
  background-image: url('./pop-bg.png');
}

.btnRedBlue {
  --background: linear-gradient(to right, #bd6460 15%, #01294d);
}

.bgGreen {
  background-image: url('./green_bg.jpg');
}

.btnGreen {
  --background: linear-gradient(to right, #45a29a, #14453a);
}

.bgIceBlue {
  background-image: url('./iceblue_bg.jpg');
}

.btnIceBlue {
  --background: linear-gradient(to right, #8fadb4, #224f70);
}

.bgPink {
  background-image: url('./pink_bg.jpg');
}

.btnPink {
  --background: linear-gradient(to right, #c1839b 15%, #7c4c85);
}

.btnGreen,
.btnRedBlue,
.btnIceBlue,
.btnPink {
  transition: 0.5s all ease;
}

.btnGreen:hover,
.btnRedBlue:hover,
.btnIceBlue:hover,
.btnPink:hover {
  opacity: 0.95;
}

/** This will pre-load all the images for a smooth switch */
.position::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url('./pop-bg.png') url('./green_bg.jpg') url('./pink_bg.jpg') url('./iceblue_bg.jpg');
}
