.position {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 100px);
}

.bgImgRedBlue {
  background-image: url('./pop-bg.png');
}

.bgImGreen {
  background-image: url('./coding_pirates.png');
}
