.container {
  transition: all 0.15s ease-in;
}

.dollarSign {
  color: pink;
}

.copyButton {
  transition: opacity 0.3s ease-in-out;
  width: 2rem;
  height: 2rem;
  color: var(--ion-text-color);
  opacity: 0;
}

.container:hover > .copyButton {
  opacity: 1;
}

.container:active {
  opacity: 0.5;
}
